<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <backupServer>backup-03.bs.fraunhofer.de</backupServer>
  <domainName>BS</domainName>
  <displayValues>
    <barcode>1</barcode>
    <location>1</location>
    <vault>1</vault>
    <isFree>1</isFree>
    <isExpired>1</isExpired>
    <expirationDate>1</expirationDate>
    <outputLog>1</outputLog>
  </displayValues>
</configuration>